<div class="cardcontainer">
    <div class="carditem">
        <img src=<%PRODUCTIMG%> alt="" class="cardproductimg">
    </div>
    <div class="carditem">
        <p class="cardpname"><%PRODUCTNAME%></p>
    </div>
    <div class="carditem">
        <p class="cardpname"><%PRODUCTQUANTITY%></p>
    </div>
    <div class="carditem">
        <p class="cardpname"><%PRODUCTPRICE%> $</p>
    </div>
    <div class="carditem">
        <a href='/product?id={%ID%}' class="cardbtna"><span class="cardbtn">Details 👉</span></a>
    </div>
</div>